# wtf github? not user friendly
#./libs/darwin
#./build

/libs/darwin/*
/build/*
# generated targets
/driver/index.html
/driver/driver.js
/driver/morph.js
/driver/morph.wasm
/driver/morph-wasm.js
/node_modules/
/.vscode/
